---
---

@import "minima";

hr {
  margin: 40px 0;
  border-bottom: 0;
  border-color: rgba(0, 0, 0, 0.2);
}

.site-header {
  border: 0;
  padding: 20px 0;
}

pre {
  padding: 20px;
}

code {
  background: white;
}

.highlighter-rouge .highlight {
  background: white;
}
